.input-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 42px;
  height: 45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.input-color::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

.input-color::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}
