<div class="p-grid">
  <div class="p-col-12">
    <p-toast></p-toast>

    <div class="card">
      <h5 class="m-0 mb-5">Comprobante Egreso de Planta {{numDocument.numDocument}}</h5>
      <div class="flex flex-column md:flex-wrap md:flex-row md:justify-content-between md:align-items-center mb-5">
        <div class="field col-3 flex flex-column">
          <label for="coat">Observación</label>
          <input type="text" pInputText id="observation" [(ngModel)]="observation" [disabled]="enableButtons" />
        </div>

        <div class="field col-3 flex flex-column" *ngIf="observation">
          <label for="createdAt">Fecha Creación</label>
          <p-calendar [showIcon]="true" inputId="createdAt" [(ngModel)]="createdAt" dateFormat="dd-mm-yy"
            [style]="{'width':'100%'}" disabled="true">
          </p-calendar>
        </div>

        <div class="field col-3 flex flex-column" *ngIf="observation">
          <label for="date">Fecha Documento</label>
          <p-calendar [showIcon]="true" inputId="date" [(ngModel)]="date" dateFormat="dd-mm-yy"
            [style]="{'width':'100%'}" [disabled]="enableButtons">
          </p-calendar>
        </div>

        <button pButton pRipple label="Añadir Item" icon="pi pi-plus" class="flex-grow-1 w-full" (click)="openNew()"
          *ngIf="observation && date" [disabled]="enableButtons"></button>

        <div *ngIf="!observation">
          <p-messages [value]="msgInfo"></p-messages>
        </div>
      </div>

      <p-table #dt [value]="newCellers" [rowHover]="true" responsiveLayout="scroll"
        styleClass="p-datatable-customers p-datatable-sm">
        <ng-template pTemplate="header">
          <tr>
            <th>
              Tipo
            </th>
            <th>
              Producto
            </th>
            <th>
              Lote
            </th>
            <th>
              Ubicación
            </th>
            <th>
              Saldos (1Kg)
            </th>
            <th>
              Sacos ({{numberCoat}}Kg)
            </th>
            <th>
              Pallets (55)
            </th>
            <th>
              Peso
            </th>
            <th style="
                text-align: center;
                display: flex;
                justify-content: space-around;
              ">
              <i class="pi pi-cog" style="font-size: 18px" pTooltip="Opciones"></i>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-celler>
          <tr>
            <td>
              {{celler.material.typeMaterial.name}}
            </td>
            <td>
              {{celler.material.name}}
            </td>
            <td>
              {{celler.lote}}
            </td>
            <td>
              {{celler.location.description}}
            </td>
            <td>
              {{celler.balance}}
            </td>
            <td>
              {{celler.coat}}
            </td>
            <td>
              {{celler.pallets}}
            </td>
            <td>
              {{celler.weight}}
            </td>
            <td style="justify-content: center;">
              <div class="flex justify-content-evenly">
                <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-secondary p-button-outlined"
                  (click)="cellerSelect = celler;menu.toggle($event)" [disabled]="enableButtons">
                </button>
              </div>
              <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9" style="text-align: center">
              No existen items
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="flex flex-column md:flex-row md:justify-content-center md:align-items-center">
        <!-- <button pButton pRipple label="Guardar" icon="pi pi-plus"
          class="buttons-manage mb-2 mt-2 md:mr-2 md:mb-0 md:mt-3" *ngIf="newCellers.length > 0"
          (click)="saveCeb()"></button> -->
        <button pButton pRipple label="Guardar" icon="pi pi-plus" *ngIf="newCellers.length > 0"
          class="buttons-manage mb-2 mt-2 md:mr-2 md:mb-0 md:mt-3" (click)="generateReceipt()"
          [disabled]="enableButtons"></button>
        <button pButton pRipple label="Regresar" icon="pi pi-table" *ngIf="enableButtons"
          class="buttons-manage mb-2 mt-2 md:mr-2 md:mb-0 md:mt-3" routerLink="/home/bodega"></button>
      </div>
    </div>


    <p-dialog [(visible)]="itemDialog" [style]="{ width: '70%' , height: '90vh'}" header="Nuevo Item CEP" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="type">Tipo</label>
          <p-dropdown id="type" [options]="typeMaterials" [(ngModel)]="typeMaterial" placeholder="Selecciona tipo"
            (onChange)='onTypeSelected($event)' autofocus>
            <ng-template pTemplate="selectedItem">
              <div *ngIf="typeMaterial.name">
                {{ typeMaterial.name }}
              </div>
            </ng-template>
            <ng-template let-type pTemplate="item">
              {{ type.name }}
            </ng-template>
          </p-dropdown>
          <small class="p-invalid" *ngIf="submitted && !typeMaterial.name">Campo tipo es requerido.</small>
        </div>
        <div class="field" *ngIf="typeMaterial">
          <label for="product">Producto / Envase</label>
          <p-dropdown id="product" [options]="materials" [(ngModel)]="material" placeholder="Selecciona producto/envase"
            (onChange)='onProductSelected($event)'>
            <ng-template pTemplate="selectedItem">
              <div *ngIf="material.name">
                {{ material.name }}
              </div>
            </ng-template>
            <ng-template let-product pTemplate="item">
              {{ product.name }}
            </ng-template>
          </p-dropdown>
          <small class="p-invalid" *ngIf="submitted && !material.name">Campo producto es requerido.</small>
        </div>
        <div class="field" *ngIf="material">
          <label for="lote">Lote</label>
          <!-- <p-dropdown id="lote" [options]="lotes" [(ngModel)]="celler" placeholder="Selecciona Lote"
            (onChange)='onLoteSelected($event)'>
            <ng-template pTemplate="selectedItem">
              <div *ngIf="celler.lote">
                {{ celler.lote }}
              </div>
            </ng-template>
            <ng-template let-lote pTemplate="item">
              {{ lote.lote }}
            </ng-template>
          </p-dropdown> -->
          <input type="text" pInputText id="lote" [(ngModel)]="newCeller.lote" />
          <small class="p-invalid" *ngIf="submitted && !celler.lote">Campo lote es requerido.</small>
        </div>

        <div *ngIf="newCeller.lote">
          <div class="p-formgrid grid">
            <div class="field col">
              <label for="location">Ubicación</label>
              <p-dropdown id="location" [options]="locations" [(ngModel)]="location" placeholder="Selecciona Ubicación"
                (onChange)='onLocationSelected($event)'>
                <ng-template pTemplate="selectedItem">
                  <div *ngIf="location.description">
                    {{ location.description }}
                  </div>
                </ng-template>
                <ng-template let-loc pTemplate="item">
                  {{ loc.description }}
                </ng-template>
              </p-dropdown>
            </div>
            <!-- <div class="field col">
              <label for="weight">Disponible</label>
              <span class="p-inputgroup">
                <input type="number" pInputText id="weight" [(ngModel)]="weightTotal" disabled />
                <span class="p-inputgroup-addon">Kg</span>
              </span>
            </div> -->
          </div>

          <!-- <div *ngIf="weightTotal>0"> -->
          <div class="p-formgrid grid">
            <div class="field col" *ngIf="typeMaterial.name == 'PEL'">
              <label class="mb-2" for="numberCoat">Cantidad de sacos: {{numberCoat}}</label>
              <p-dropdown id="numberCoat" [options]="itemsCoat" [(ngModel)]="numberCoat" [editable]="true"
                placeholder="Selecciona cantidad de sacos">
              </p-dropdown>
            </div>
            <div class="field col">
              <label class="mb-2" for="numberPallet">Cantidad de sacos en pallet: {{numberPallet}}</label>
              <p-dropdown id="numberPallet" [options]="itemsPallets" [(ngModel)]="numberPallet" [editable]="true"
                placeholder="Selecciona cantidad de sacos en pallet">
              </p-dropdown>
            </div>
          </div>
          <div class="p-formgrid grid">
            <div class="field col">
              <label for="balance">Saldos(1Kg)</label>
              <span class="p-inputgroup">
                <input type="number" pInputText id="balance" [(ngModel)]="newCeller.balance"
                  (ngModelChange)="calculateWeight()" min="0" />
                <span class="p-inputgroup-addon">Kg</span>
              </span>
            </div>
            <div class="field col">
              <label for="coat">Sacos({{numberCoat}}Kg)</label>
              <span class="p-inputgroup">
                <input type="number" pInputText id="coat" [(ngModel)]="newCeller.coat"
                  (ngModelChange)="calculateWeight()" min="0" />
                <span class="p-inputgroup-addon">Kg</span>
              </span>
            </div>
          </div>
          <div class="p-formgrid grid">
            <div class="field col">
              <label for="pallets">Pallets({{numberPallet}})</label>
              <span class="p-inputgroup">
                <input type="number" pInputText id="pallets" [(ngModel)]="newCeller.pallets"
                  (ngModelChange)="calculateWeight()" min="0" />
                <span class="p-inputgroup-addon">Pall</span>
              </span>
            </div>
            <div class="field col">
              <label for="weight">Peso Total</label>
              <span class="p-inputgroup">
                <input type="number" pInputText id="weight" [(ngModel)]="newCeller.weight" disabled />
                <span class="p-inputgroup-addon">Kg</span>
              </span>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveItem()"
          *ngIf="newCeller.weight>0 && location"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="pdfDialog" [style]="{ width: '80%' }" [modal]="true" styleClass="p-fluid" *ngIf="srcPdf">
      <ngx-extended-pdf-viewer [src]="srcPdf" [height]="'80vh'" [useBrowserLocale]="true"
        [filenameForDownload]="fileName">
      </ngx-extended-pdf-viewer>
    </p-dialog>
  </div>
</div>