<div class="p-grid">
  <div class="p-col-12">
    <p-toast></p-toast>

    <h5>Diseño de Mezcla</h5>

    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <div class="card leaderboard">
          <div class="card-header">
            <h6>Premesclas Disponibles</h6>
          </div>
          <ul class="mixture-ul mt-5">
            <li *ngFor="let order of orders" class="mixture-li">
              <div class="mixture-item">
                <div class="flex justify-content-start align-items-center">
                  <button
                    [ngClass]="order.priority.color ? order.priority.color : ''"
                    class="p-button-rounded p-button-text"
                    icon="pi {{ order.priority.icon }}"
                    pButton
                    pRipple
                    pTooltip="{{ order.priority.name }}"
                    type="button"
                  ></button>
                  <div class="mixture-orders">
                    <p>{{order.lot}}</p>
                    <span>{{order.code}} - {{order.productCode}}</span>
                  </div>
                </div>
                <div class="mixture-btn-create">
                  <button
                    class="p-button-rounded p-button-text p-button-lg"
                    icon="pi pi-plus-circle"
                    pButton
                    pRipple
                    pTooltip="Crear Diseño"
                    routerLink="/home/mezcla/crear/{{order.lot}}"
                    type="button"
                  ></button>
                </div>
              </div>
              <p-divider></p-divider>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="card leaderboard">
          <div class="card-header">
            <h6>Consultar Mezcla</h6>
          </div>
          <div class="p-fluid grid formgrid mt-5">
            <div class="field col-12">
              <label for="person">Numero Mezcla | Lote</label>
              <!-- <p-autoComplete formControlName="person"
                              [showEmptyMessage]="true"
                              [suggestions]="persons"
                              (completeMethod)="filterPersons($event)"
                              field="fullName"
                              id="lote"
                              delay="500"
                              emptyMessage="No se encontraron resultados"
                              [minLength]="3">
                <ng-template let-person pTemplate="item">
                  <div>
                    {{person.ci}} |
                    <span class="item-subheading">{{person.fullName}}</span>
                  </div>
                </ng-template>
              </p-autoComplete>                 -->
              <input id="firstName" maxlength="32" pInputText type="text"/>
            </div>
            <button
              class="p-button-raised m-3"
              icon="pi pi-search"
              label="Buscar"
              pButton
              pRipple
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
