<form (ngSubmit)="save()" [formGroup]="form" autocomplete="off">
  <div class="grid">
    <div class="col-12">
      <div class="card">
        <p-toast></p-toast>

        <h5>Crear nuevo cirel</h5>

        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6 lg:col-4">
            <label for="print">Impresión</label>
            <input [ngClass]="{'ng-invalid ng-dirty': print.touched && print.invalid}"
                   appInputUppercase
                   aria-describedby="print-help"
                   formControlName="print"
                   id="print"
                   maxlength="8"
                   pInputText
                   type="text"/>
            <small *ngIf="print.touched && print.hasError('required')"
                   class="p-error block"
                   id="print-help">{{formErrors.required}}</small>
          </div>
          <div class="field col-12 md:col-6 lg:col-4">
            <label for="description">Descripción</label>
            <input [ngClass]="{'ng-invalid ng-dirty': description.touched && description.invalid}"
                   aria-describedby="description-help"
                   formControlName="description"
                   id="description"
                   maxlength="128"
                   pInputText
                   type="text"/>
            <small *ngIf="description.touched && description.hasError('required')"
                   class="p-error block"
                   id="description-help">{{formErrors.required}}</small>
          </div>
          <div class="field col-12 md:col-6 lg:col-4">
            <label for="mbLeafId">MB Lámina</label>
            <p-dropdown [filter]="true"
                        [options]="colorsB$ | async"
                        [showClear]="true"
                        filterBy="id,description"
                        formControlName="mbLeafId"
                        id="mbLeafId"
                        optionLabel="description"
                        optionValue="id"
                        placeholder="Seleccione un color">
              <ng-template let-color pTemplate="selectedItem">
                <div>
                  {{color.id}} |
                  <span class="item-subheading">{{color.description}}</span>
                </div>
              </ng-template>
              <ng-template let-color pTemplate="item">
                <div>
                  {{color.id}} |
                  <span class="item-subheading">{{color.description}}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-6">
            <label for="dieProductIds">Productos troquelados</label>
            <p-multiSelect [ngClass]="{'ng-invalid ng-dirty': dieProductIds.touched && dieProductIds.invalid}"
                           [options]="dieProducts$ | async"
                           display="chip"
                           formControlName="dieProductIds"
                           id="dieProductIds"
                           optionLabel="code"
                           optionValue="id"
                           placeholder="Seleccione uno o varios productos">
              <ng-template let-die pTemplate="item">
                <div>
                  {{die.code}} |
                  <span class="item-subheading">{{die.name}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
            <small *ngIf="dieProductIds.touched && dieProductIds.hasError('required')"
                   class="p-error block"
                   id="dieProductIds-help">{{formErrors.required}}</small>
          </div>
          <div class="field col-12 md:col-6">
            <label for="printer">Impresora</label>
            <p-dropdown (onChange)="createDieColors($event)"
                        [ngClass]="{'ng-invalid ng-dirty': printer.touched && printer.invalid}"
                        [options]="printers$ | async"
                        [showClear]="true"
                        formControlName="printer"
                        id="printer"
                        optionLabel="name"
                        placeholder="Seleccione una impresora">
              <ng-template let-printer pTemplate="selectedItem">
                <div>
                  {{printer.name}} |
                  <span class="item-subheading">Número colores: {{printer.numColors}}</span>
                </div>
              </ng-template>
              <ng-template let-printer pTemplate="item">
                <div>
                  {{printer.name}} |
                  <span class="item-subheading">Número colores: {{printer.numColors}}</span>
                </div>
              </ng-template>
            </p-dropdown>
            <small *ngIf="printer.touched && printer.hasError('required')"
                   class="p-error block"
                   id="printer-help">{{formErrors.required}}</small>
          </div>
          <div class="field col-12 md:col-6">
            <label for="observation">Observaciones</label>
            <input formControlName="observation"
                   id="observation"
                   maxlength="128"
                   pInputTextarea/>
          </div>
          <div class="field col-12 md:col-6">
            <label for="description2">Descripción 2</label>
            <input formControlName="description2"
                   id="description2"
                   maxlength="128"
                   pInputTextarea/>
          </div>
          <div class="field col-12">
            <p-table [columns]="columns"
                     [value]="cyrelColorsFormArray.controls"
                     class="pb-5"
                     dataKey="value.id"
                     editMode="row"
                     styleClass="p-datatable-sm">
              <ng-template let-columns
                           pTemplate="header">
                <tr>
                  <!--                  <th style="width:3rem"></th>-->
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                  <th class="text-center">
                    <i class="pi pi-cog" pTooltip="Opciones" style="font-size: 18px"></i>
                  </th>
                </tr>
              </ng-template>
              <ng-template formArrayName="cyrelColors"
                           let-editing="editing"
                           let-form
                           let-index="rowIndex"
                           pTemplate="body">
                <tr [formGroupName]="index" [pEditableRow]="form">
                  <td style="max-width: 1rem">
                    <p-cellEditor class="w-full">
                      <ng-template pTemplate="input">
                        <input formControlName="index"
                               pInputText
                               type="number">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{getColorIndex(index).value}}
                      </ng-template>
                    </p-cellEditor>
                    <!--                    <span class="pi pi-bars" pReorderableRowHandle></span>-->
                  </td>
                  <td>
                    <p-cellEditor class="w-full">
                      <ng-template pTemplate="input">
                        <p-dropdown [ngClass]="{'ng-invalid ng-dirty': getColorType(index).touched && getColorType(index).invalid}"
                                    [options]="colorTypes"
                                    [showClear]="true"
                                    [style]="{'width':'100%'}"
                                    emptyMessage="No se encontraron resultados"
                                    formControlName="colorType"
                                    optionLabel="name"
                                    optionValue="id"
                                    placeholder="Seleccione un tipo"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{searchColorType(getColorType(index).value)}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor class="w-full">
                      <ng-template pTemplate="input">
                        <p-dropdown [ngClass]="{'ng-invalid ng-dirty': getColor(index).touched && getColor(index).invalid}"
                                    [options]="colors"
                                    [showClear]="true"
                                    [style]="{'width':'100%'}"
                                    emptyFilterMessage="No se encontraron resultados"
                                    emptyMessage="No se encontraron resultados"
                                    filter="true"
                                    formControlName="color"
                                    optionLabel="name"
                                    placeholder="Seleccione un color"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{getColor(index).value?.name}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor class="w-full">
                      <ng-template pTemplate="input">
                        <input formControlName="observation"
                               maxlength="256"
                               pInputText
                               type="text">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{getObservation(index).value}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td class="text-center">
                    <button *ngIf="!editing"
                            class="p-button-rounded p-button-text"
                            icon="pi pi-pencil"
                            pButton
                            pInitEditableRow
                            pRipple
                            type="button"></button>
                    <button (click)="onRowEditSave()"
                            *ngIf="editing"
                            class="p-button-rounded p-button-text p-button-success mr-2"
                            icon="pi pi-check"
                            pButton
                            pRipple
                            pSaveEditableRow
                            type="button"></button>
                    <button (click)="onRowEditCancel()"
                            *ngIf="editing"
                            class="p-button-rounded p-button-text p-button-danger"
                            icon="pi pi-times"
                            pButton
                            pCancelEditableRow
                            pRipple
                            type="button"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <div class="col-12 text-right">
          <button class="p-button-text mr-4"
                  icon="pi pi-times"
                  label="Cancelar"
                  pButton
                  pRipple
                  type="button">
          </button>
          <button [disabled]="form.invalid"
                  class="p-button-raised"
                  icon="pi pi-check"
                  label="Guardar"
                  pButton
                  pRipple
                  type="submit">
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
