<form (ngSubmit)="save()" [formGroup]="form" autocomplete="off">
  <div class="grid">
    <div class="col-12">
      <div class="card">
        <p-toast></p-toast>

        <h5>Crear nuevo cirel</h5>

        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6 lg:col-4">
            <label for="print">Impresión</label>
            <input pInputText
                   id="print"
                   [ngClass]="{'ng-invalid ng-dirty': print.touched && print.invalid}"
                   formControlName="print"
                   aria-describedby="print-help"
                   appInputUppercase
                   maxlength="8"
                   type="text"/>
            <small *ngIf="print.touched && print.hasError('required')"
                   id="print-help"
                   class="p-error block">{{formErrors.required}}</small>
          </div>
          <div class="field col-12 md:col-6 lg:col-4">
            <label for="description">Descripción</label>
            <input pInputText
                   id="description"
                   [ngClass]="{'ng-invalid ng-dirty': description.touched && description.invalid}"
                   formControlName="description"
                   aria-describedby="description-help"
                   maxlength="128"
                   type="text"/>
            <small *ngIf="description.touched && description.hasError('required')"
                   id="description-help"
                   class="p-error block">{{formErrors.required}}</small>
          </div>
          <div class="field col-12 md:col-6 lg:col-4">
            <label for="mbLeafId">MB Lámina</label>
            <p-dropdown [options]="colorsB$ | async"
                        id="mbLeafId"
                        formControlName="mbLeafId"
                        placeholder="Seleccione un color"
                        optionLabel="description"
                        optionValue="id"
                        [filter]="true"
                        filterBy="id,description"
                        [showClear]="true">
              <ng-template pTemplate="selectedItem" let-color>
                <div>
                  {{color.id}} |
                  <span class="item-subheading">{{color.description}}</span>
                </div>
              </ng-template>
              <ng-template let-color pTemplate="item">
                <div>
                  {{color.id}} |
                  <span class="item-subheading">{{color.description}}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="field col-12 md:col-6">
            <label for="dieProductIds">Productos troquelados</label>
            <p-multiSelect [options]="dieProducts$ | async"
                           id="dieProductIds"
                           formControlName="dieProductIds"
                           [ngClass]="{'ng-invalid ng-dirty': dieProductIds.touched && dieProductIds.invalid}"
                           placeholder="Seleccione uno o varios productos"
                           optionLabel="code"
                           optionValue="id"
                           display="chip">
              <ng-template let-die pTemplate="item">
                <div>
                  {{die.code}} |
                  <span class="item-subheading">{{die.name}}</span>
                </div>
              </ng-template>
            </p-multiSelect>
            <small *ngIf="dieProductIds.touched && dieProductIds.hasError('required')"
                   id="dieProductIds-help"
                   class="p-error block">{{formErrors.required}}</small>
          </div>
          <div class="field col-12 md:col-6">
            <label for="printer">Impresora</label>
            <p-dropdown [options]="printers$ | async"
                        id="printer"
                        formControlName="printer"
                        [ngClass]="{'ng-invalid ng-dirty': printer.touched && printer.invalid}"
                        placeholder="Seleccione una impresora"
                        optionLabel="name"
                        (onChange)="createDieColors($event)"
                        [showClear]="true">
              <ng-template pTemplate="selectedItem" let-printer>
                <div>
                  {{printer.name}} |
                  <span class="item-subheading">Número colores: {{printer.numColors}}</span>
                </div>
              </ng-template>
              <ng-template let-printer pTemplate="item">
                <div>
                  {{printer.name}} |
                  <span class="item-subheading">Número colores: {{printer.numColors}}</span>
                </div>
              </ng-template>
            </p-dropdown>
            <small *ngIf="printer.touched && printer.hasError('required')"
                   id="printer-help"
                   class="p-error block">{{formErrors.required}}</small>
          </div>
          <div class="field col-12 md:col-6">
            <label for="observation">Observaciones</label>
            <input pInputTextarea
                   id="observation"
                   maxlength="128"
                   formControlName="observation"/>
          </div>
          <div class="field col-12 md:col-6">
            <label for="description2">Descripción 2</label>
            <input pInputTextarea
                   id="description2"
                   maxlength="128"
                   formControlName="description2"/>
          </div>
          <div class="field col-12">
            <p-table [columns]="columns"
                     class="pb-5"
                     [value]="cyrelColorsFormArray.controls"
                     dataKey="value.id"
                     editMode="row">
              <ng-template pTemplate="header"
                           let-columns>
                <tr>
<!--                  <th style="width:3rem"></th>-->
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                  <th class="text-center">
                    <i class="pi pi-cog" style="font-size: 18px" pTooltip="Opciones"></i>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body"
                           let-form
                           let-editing="editing"
                           formArrayName="cyrelColors"
                           let-index="rowIndex">
                <tr [pEditableRow]="form" [formGroupName]="index">
                  <td style="max-width: 1rem">
                    <p-cellEditor class="w-full">
                      <ng-template pTemplate="input">
                        <input pInputText
                               type="number"
                               formControlName="index">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{getColorIndex(index).value}}
                      </ng-template>
                    </p-cellEditor>
<!--                    <span class="pi pi-bars" pReorderableRowHandle></span>-->
                  </td>
                  <td>
                    <p-cellEditor class="w-full">
                      <ng-template pTemplate="input">
                        <p-dropdown [options]="colorTypes"
                                    formControlName="colorType"
                                    optionLabel="name"
                                    [ngClass]="{'ng-invalid ng-dirty': getColorType(index).touched && getColorType(index).invalid}"
                                    [showClear]="true"
                                    emptyMessage="No se encontraron resultados"
                                    placeholder="Seleccione un tipo"
                                    optionValue="id"
                                    [style]="{'width':'100%'}"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{searchColorType(getColorType(index).value)}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor class="w-full">
                      <ng-template pTemplate="input">
                        <p-dropdown [options]="colors"
                                    formControlName="color"
                                    optionLabel="name"
                                    [ngClass]="{'ng-invalid ng-dirty': getColor(index).touched && getColor(index).invalid}"
                                    [showClear]="true"
                                    filter="true"
                                    emptyMessage="No se encontraron resultados"
                                    emptyFilterMessage="No se encontraron resultados"
                                    placeholder="Seleccione un color"
                                    [style]="{'width':'100%'}"></p-dropdown>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{getColor(index).value?.name}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor class="w-full">
                      <ng-template pTemplate="input">
                        <input pInputText
                               type="text"
                               maxlength="256"
                               formControlName="observation">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{getObservation(index).value}}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td class="text-center">
                    <button *ngIf="!editing"
                            pButton
                            pRipple
                            type="button"
                            pInitEditableRow
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            pSaveEditableRow
                            (click)="onRowEditSave()"
                            icon="pi pi-check"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing"
                            pButton
                            pRipple
                            type="button"
                            pCancelEditableRow
                            (click)="onRowEditCancel()"
                            icon="pi pi-times"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <div class="col-12 text-right">
          <button pButton
                  pRipple
                  type="button"
                  label="Cancelar"
                  icon="pi pi-times"
                  class="p-button-text mr-4">
          </button>
          <button pButton
                  pRipple
                  [disabled]="form.invalid"
                  type="submit"
                  label="Guardar"
                  icon="pi pi-check"
                  class="p-button-raised">
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
