<div class="p-grid">
  <div class="p-col-12">
    <p-toast></p-toast>

    <div class="card">
      <p-table #dt [value]="cellers" [columns]="cols" [rows]="7" [paginator]="true"
        [globalFilterFields]="['lote', 'amount','balance','coat','pallets','weight','date','observation','material.name','location.location','document.name']"
        [rowHover]="true" dataKey="id" styleClass="p-datatable-customers p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestión de bodega</h5>

            <div class="flex">
              <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="mr-2" *ngIf="isAllow(1)"
                (click)="menuDocuments.toggle($event)"></button>
              <p-menu #menuDocuments [popup]="true" [model]="documentsMenu" appendTo="body">
              </p-menu>
              <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help mr-2"
                (click)="dt.exportCSV()" *ngIf="isAllow(5)"></button>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Buscar..." />
              </span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
              Tipo
            </th>
            <th>
              Producto
            </th>
            <th>
              Lote
            </th>
            <th>
              Cantidad
            </th>
            <th>
              Saldos
            </th>
            <th>
              Sacos
            </th>
            <th>
              Pallets
            </th>
            <th>
              Peso Kg
            </th>
            <th>
              Ubicación
            </th>
            <th>
              Documento
            </th>
            <th>
              Fecha
            </th>
            <th style="
                min-height: 34.5px;
                text-align: center;
                display: flex;
                justify-content: space-around;
              ">
              <i class="pi pi-cog" style="font-size: 18px" pTooltip="Opciones"></i>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-celler>
          <tr>
            <td>
              <p-tableCheckbox [value]="celler"></p-tableCheckbox>
            </td>
            <td>
              <span class="p-column-title">Tipo</span>
              {{celler.material.typeMaterial.name}}
            </td>
            <td style="min-width: 8rem">
              <span class="p-column-title">Producto</span>
              {{ celler.material.name }}
            </td>
            <td style="min-width: 8rem">
              <span class="p-column-title">Lote</span>
              {{celler.lote}}
            </td>
            <td>
              <span class="p-column-title">Cantidad</span>
              {{celler.amount}}
            </td>
            <td>
              <span class="p-column-title">Saldos</span>
              {{celler.balance}}
            </td>
            <td>
              <span class="p-column-title">Sacos</span>
              {{celler.coat}}
            </td>
            <td>
              <span class="p-column-title">Pallets</span>
              {{celler.pallets}}
            </td>
            <td style="min-width: 5rem">
              <span class="p-column-title">Peso Kg</span>
              {{celler.weight }} Kg
            </td>
            <td style="min-width: 6rem">
              <span class="p-column-title">Ubicación</span>
              {{celler.location.description}}
            </td>
            <td>
              <span class="p-column-title">Documento</span>
              {{celler.numberDocument}}
            </td>
            <td style="min-width: 9rem">
              <span class="p-column-title">Fecha</span>
              {{ celler.date | date: "dd-MM-yyyy" }} <i class="pi pi-info-circle ml-2" style="font-size: 18px"
                pTooltip="{{celler.observation}}"></i>
            </td>
            <td style="display: flex; justify-content: space-evenly; min-width: 8rem">
              <button pButton pRipple icon="pi pi-pencil"
                class="p-button-rounded p-button-outlined p-button-success p-mr-2" (click)="editCeller(celler)"
                *ngIf="isAllow(2)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-warning"
                (click)="deleteCeller(celler)" *ngIf="isAllow(4)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Total de Items Bodega:
            {{ cellers ? cellers.length : 0 }}
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="cellerDialog" [style]="{ width: '450px' }" header="Detalles de Orderes A" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="id">ID</label>
          <input type="text" pInputText id="id" [(ngModel)]="order.id" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !order.id">Campo id es requerido.</small>
        </div>
        <div class="p-field">
          <label for="name">Nombre</label>
          <input type="text" pInputText id="name" [(ngModel)]="order.name" required />
          <small class="p-invalid" *ngIf="submitted && !order.name">Campo nombre es requerido.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveOrder()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </div>
</div>