<div class="grid" *ngIf="order">
  <div class="col-12 lg:col-12 flex-order-1 lg:flex-order-0 xl:flex-order-0">
    <div class="card">
      <p-message *ngIf="order.cancellationReason" severity="error" [text]="'Cancelado por: ' + order.cancellationReason"
                 styleClass="mr-2 mb-2 mt-2"></p-message>
      <div class="flex flex-row flex-wrap pt-2">
        <div>
          <h5>Pedido #{{order.code}}</h5>
        </div>
        <div class="ml-3">
          <p-tag [style]="{'color': order.status.color, 'backgroundColor': order.status.backgroundColor}"
                 [value]="order.status.name"></p-tag>
        </div>
        <div class="ml-3" *ngIf="order.lot">
          <p-tag styleClass="mr-2" severity="info" [value]="'Lote: ' + order.lot"></p-tag>
        </div>
        <div class="ml-3 mt-1">
          <i [pTooltip]="order.priority.name" [ngStyle]="{'color': order.priority.color ? order.priority.color:''}"
             class="pi {{order.priority.icon}}"></i>
        </div>
        <span class="flex-auto"></span>
        <div class="ml-3">
          <p-tag styleClass="mr-2" severity="danger" [value]="'Pendientes: ' + 0"></p-tag>
          <p-tag styleClass="mr-2" severity="success" [value]="'Despachados: ' + 0"></p-tag>
        </div>
      </div>
      <div class="flex flex-column lg:flex-row">
        <button pButton
                pRipple
                *ngIf="showCancelButton()"
                label="Cancelar orden"
                icon="pi pi-times"
                class="important p-button-danger md:mr-2 md:mb-0 w-full mb-2"
                (click)="cancelOrder()"
                [disabled]="false"
        ></button>
        <button pButton
                pRipple
                label="Por hacer"
                *ngIf="showToDoButton()"
                icon="pi pi-times"
                class="mb-2 md:mr-2 md:mb-0 w-full"
                (click)="toDoOrder()"
                [disabled]="false"
        ></button>
      </div>
      <p-divider></p-divider>
      <div class="grid">
        <div class="col-6 lg:col-3 flex-column">
          <span class="flex align-items-center">
            <i class="pi pi-calendar"></i>
            <span class="label">Fecha Creación</span>
          </span>
          <span class="label-item">{{order.orderedAt | cpDate}}</span>
        </div>
        <div class="col-6 lg:col-3 flex-column">
          <span class="flex align-items-center">
            <i class="pi pi-calendar"></i>
            <span class="label">Fecha Inicio prod</span>
          </span>
          <span class="label-item">{{order.productionStartedAt | cpDate}}</span>
        </div>
        <div class="col-6 lg:col-3 flex-column">
          <span class="flex align-items-center">
            <i class="pi pi-calendar"></i>
            <span class="label">Fecha Terminado</span>
          </span>
          <span class="label-item">{{order.completedAt | cpDate}}</span>
        </div>
        <div class="col-6 lg:col-3 flex-column">
          <span class="flex align-items-center">
            <i class="pi pi-calendar"></i>
            <span class="label">Fecha Cancelación</span>
          </span>
          <span class="label-item">{{order.canceledAt | cpDate}}</span>
        </div>
      </div>
    </div>
    <p-tabView>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>Datos orden</span>
        </ng-template>
        <app-edit-order-form [order]="order"
                             (saveForm)="updateOrder($event)">
        </app-edit-order-form>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <span>Historial</span>
        </ng-template>
        <app-order-status></app-order-status>
      </p-tabPanel>
    </p-tabView>
  </div>
  <p-confirmDialog [style]="{ width: '450px' }"
                   rejectButtonStyleClass="p-button-text"
                   acceptButtonStyleClass="p-button-raised"></p-confirmDialog>
</div>
