<p>color-b-modal works!</p>
<!--<p-dialog [(visible)]="colorDialog" [style]="{ width: '450px' }" header="Detalles de Colores A" [modal]="true"-->
<!--          styleClass="p-fluid">-->
<!--  <ng-template pTemplate="content">-->
<!--    <div class="p-field">-->
<!--      <label for="id">ID</label>-->
<!--      <input type="text" pInputText id="id" [(ngModel)]="color.id" style="text-transform: uppercase" disabled-->
<!--             required />-->
<!--      <small class="p-invalid" *ngIf="submitted && !color.id">Campo id es requerido.</small>-->
<!--    </div>-->
<!--    <div class="p-field">-->
<!--      <label for="colorA">Color Primario</label>-->
<!--      <p-dropdown id="colorA" [options]="colorsA" [(ngModel)]="color.colorA" placeholder="Selecciona color primario"-->
<!--                  (onChange)='onColorASelected($event)' autofocus>-->
<!--        <ng-template pTemplate="selectedItem">-->
<!--          <div *ngIf="color.colorA">-->
<!--            {{ color.colorA.id }} - {{ color.colorA.name }}-->
<!--          </div>-->
<!--        </ng-template>-->
<!--        <ng-template let-colA pTemplate="item">-->
<!--          {{ colA.id }} - {{ colA.name }}-->
<!--        </ng-template>-->
<!--      </p-dropdown>-->
<!--      <small class="p-invalid" *ngIf="submitted && !color.colorA">Campo color primario es requerido.</small>-->
<!--    </div>-->
<!--    <div class="p-field">-->
<!--      <label for="index">Indice</label>-->
<!--      <input type="number" pInputText id="index" [(ngModel)]="color.index" disabled required />-->
<!--      <small class="p-invalid" *ngIf="submitted && !color.index">Campo indice es requerido.</small>-->
<!--    </div>-->
<!--    <div class="p-field">-->
<!--      <label for="dosage">Dosis</label>-->
<!--      <input type="number" pInputText id="dosage" [(ngModel)]="color.dosage" required />-->
<!--      <small class="p-invalid" *ngIf="submitted && !color.dosage">Campo dosis es requerido.</small>-->
<!--    </div>-->
<!--    <div class="p-field">-->
<!--      <label for="description">Descripción</label>-->
<!--      <input type="text" pInputText id="description" [(ngModel)]="color.description"-->
<!--             style="text-transform: uppercase" required />-->
<!--      <small class="p-invalid" *ngIf="submitted && !color.description">Campo descripción es requerido.</small>-->
<!--    </div>-->
<!--    <div class="p-field">-->
<!--      <label for="colorCode">Color</label>-->
<!--      <input type="color" pInputText class="input-color" id="colorCode" [(ngModel)]="color.colorCode" required />-->
<!--      <small class="p-invalid" *ngIf="submitted && !color.colorCode">Campo color es requerido.</small>-->
<!--    </div>-->
<!--  </ng-template>-->

<!--  <ng-template pTemplate="footer">-->
<!--    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"-->
<!--            (click)="hideDialog()"></button>-->
<!--    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveColor()"></button>-->
<!--  </ng-template>-->
<!--</p-dialog>-->
