<div class="p-grid">
  <div class="p-col-12">
    <p-toast></p-toast>

    <div class="card">
      <p-table #dt [value]="colors" [columns]="cols" [rows]="7" [paginator]="true" [globalFilterFields]="['id', 'name']"
        [(selection)]="selectedColor" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers p-datatable-sm">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <h5 class="h-100 align-self-center mb-2 md:mb-0">Gestión de Colores A</h5>
            <span class="flex-auto"></span>
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="mb-2 md:mr-2 md:mb-0" (click)="openNew()"
              *ngIf="isAllow(1)"></button>
            <button pButton pRipple label="Eliminar" icon="pi pi-trash"
              class="buttons-manage p-button-danger mb-2 md:mr-2 md:mb-0" (click)="deleteSelectedColors()"
              [disabled]="!selectedColor || !selectedColor.length" *ngIf="isAllow(4)"></button>
            <button pButton pRipple label="Export" icon="pi pi-upload"
              class="buttons-manage p-button-help mb-2 md:mr-2 md:mb-0" (click)="dt.exportCSV()"
              *ngIf="isAllow(5)"></button>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar..." class="w-full" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">
              ID <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Nombre <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th>
              Color
            </th>
            <th style="
                text-align: center;
                display: flex;
                justify-content: space-around;
                min-height: 36.5px;
              ">
              <i class="pi pi-cog" style="font-size: 18px" pTooltip="Opciones"></i>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-color>
          <tr>
            <td>
              <p-tableCheckbox [value]="color"></p-tableCheckbox>
            </td>
            <td>
              <span class="p-column-title">ID</span>
              {{ color.id }}
            </td>
            <td>
              <span class="p-column-title">Nombre</span>
              {{ color.name }}
            </td>
            <td>
              <span class="p-column-title">Color</span>
              <p-avatar [style]="{'background-color': color.colorCode, border: '1px solid #edf4fa'}" shape="circle">
              </p-avatar>
            </td>
            <td style="justify-content: center;">
              <div class="flex justify-content-evenly">
                <button type="button" pButton icon="pi pi-ellipsis-v" class="p-button-secondary p-button-outlined"
                  (click)="colorSelect = color;menu.toggle($event)">
                </button>
              </div>
              <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Total de Colores:
            {{ colors ? colors.length : 0 }}
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="colorDialog" [style]="{ width: '450px' }" header="Detalles de Colores A" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="id">ID</label>
          <input type="text" pInputText id="id" [(ngModel)]="color.id" style="text-transform: uppercase" required
            autofocus />
          <small class="p-invalid" *ngIf="submitted && !color.id">Campo id es requerido.</small>
        </div>
        <div class="p-field">
          <label for="name">Nombre</label>
          <input type="text" pInputText id="name" [(ngModel)]="color.name" style="text-transform: uppercase" required />
          <small class="p-invalid" *ngIf="submitted && !color.name">Campo nombre es requerido.</small>
        </div>
        <div class="p-field">
          <label for="colorCode">Color</label>
          <input type="color" pInputText class="input-color" id="colorCode" [(ngModel)]="color.colorCode" required />
          <small class="p-invalid" *ngIf="submitted && !color.colorCode">Campo color es requerido.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveColor()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </div>
</div>