<form (ngSubmit)="save()" [formGroup]="form" autocomplete="off">
  <div class="p-fluid">
    <div class="field">
      <label for="code">Código</label>
      <input pInputText
             id="code"
             formControlName="id"
             [ngClass]="{'ng-invalid ng-dirty': code.touched && code.invalid}"
             aria-describedby="id-help"
             maxlength="16"
             appInputUppercase
             type="text"/>
      <small *ngIf="code.touched && code.hasError('required')"
             id="code-help"
             class="p-error block">{{formErrors.required}}</small>
    </div>
    <div class="field">
      <label for="name">Nombre</label>
      <input pInputText
             id="name"
             formControlName="name"
             [ngClass]="{'ng-invalid ng-dirty': name.touched && name.invalid}"
             aria-describedby="name-help"
             maxlength="64"
             appInputUppercase
             type="text" />
      <small *ngIf="name.touched && name.hasError('required')"
             id="name-help"
             class="p-error block">{{formErrors.required}}</small>
    </div>
    <div class="field">
      <label>Logo</label>
      <p-fileUpload name="demo[]"
                    [showUploadButton]="false"
                    [showCancelButton]="false"
                    [invalidFileSizeMessageSummary]="maxSizeSummary"
                    [invalidFileSizeMessageDetail]="maxSizeDetail"
                    accept="image/*"
                    (onSelect)="selectLogo($event)"
                    (onRemove)="removeLogo()"
                    maxFileSize="2000000">
      </p-fileUpload>
    </div>
  </div>
  <div class="col-12 pb-0 pt-4 pr-0 pl-0 text-right">
    <button pButton
            pRipple
            type="button"
            label="Cancelar"
            icon="pi pi-times"
            (click)="close()"
            class="p-button-text mr-2">
    </button>
    <button pButton
            pRipple
            [disabled]="form.invalid"
            type="submit"
            label="Guardar"
            icon="pi pi-check"
            class="p-button-raised" >
    </button>
  </div>
</form>
