<div class="p-grid">
  <div class="p-col-12">
    <p-toast></p-toast>

    <div class="card">
      <p-table #dt [value]="printers" [columns]="cols" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name', 'description']" [(selection)]="selectedPrinter" [rowHover]="true" dataKey="id"
        styleClass="p-datatable-customers p-datatable-sm">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestión de Impresoras</h5>

            <div class="flex">
              <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="mr-2" (click)="openNew()"></button>
              <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger mr-2"
                (click)="deleteSelectedPrinters()" [disabled]="!selectedPrinter || !selectedPrinter.length"></button>
              <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help mr-2"
                (click)="dt.exportCSV()"></button>

              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Buscar..." />
              </span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">
              Nombre <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="numColors">
              N° Colores <p-sortIcon field="numColors"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Descripción <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th style="
                text-align: center;
                display: flex;
                justify-content: space-around;
              ">
              <i class="pi pi-cog" style="font-size: 18px" pTooltip="Opciones"></i>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-printer>
          <tr>
            <td>
              <p-tableCheckbox [value]="printer"></p-tableCheckbox>
            </td>
            <td>
              <span class="p-column-title">Nombre</span>
              {{ printer.name }}
            </td>
            <td>
              <span class="p-column-title">N° Colores</span>
              {{ printer.numColors }}
            </td>
            <td>
              <span class="p-column-title">Descripción</span>
              {{ printer.description }}
            </td>
            <td style="display: flex; justify-content: space-evenly">
              <button pButton pRipple icon="pi pi-pencil"
                class="p-button-rounded p-button-outlined p-button-success p-mr-2"
                (click)="editPrinter(printer)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-warning"
                (click)="deletePrinter(printer)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Total de Impresoras:
            {{ printers ? printers.length : 0 }}
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="printerDialog" [style]="{ width: '450px' }" header="Detalles de Impresora" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="name">Nombre</label>
          <input type="text" pInputText id="name" [(ngModel)]="printer.name" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !printer.name">Campo nombre es requerido.</small>
        </div>
        <div class="p-field">
          <label for="numColors">N° Colores</label>
          <input type="text" pInputText id="numColors" [(ngModel)]="printer.numColors" required />
          <small class="p-invalid" *ngIf="submitted && !printer.numColors">Campo n° colores es requerido.</small>
        </div>
        <div class="p-field">
          <label for="description">Descripción</label>
          <input type="text" pInputText id="description" [(ngModel)]="printer.description" required />
          <small class="p-invalid" *ngIf="submitted && !printer.description">Campo descripción es requerido.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
          (click)="savePrinter()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </div>
</div>