<div class="p-grid table-demo">
  <div class="p-col-12">
    <div class="card">
      <h5>Troqueles</h5>
      <p>Lista de todos los troqueles</p>
      <p-table #dt [value]="dies"
               dataKey="id"
               styleClass="p-datatable-customers"
               [rowHover]="true"
               [rows]="10"
               [paginator]="true"
               [filterDelay]="0" [globalFilterFields]="['code']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
            Troqueles
            <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Buscar"/>
                </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let header of headers" [pSortableColumn]="header.property">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ header.label }}
                <p-sortIcon [field]="header.property"></p-sortIcon>
                <p-columnFilter type="text" [field]="header.property" display="menu" class="p-ml-auto"></p-columnFilter>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-die>
          <tr class="p-selectable-row">
            <td>
              <span class="p-column-title">Troquel</span>
              {{die.name}}
            </td>
            <td>
              <span class="p-column-title">Fecha</span>
              {{die.createdDate}}
            </td>
            <td>
              <span class="p-column-title">Fabricante</span>
              PENDIENTE
            </td>
            <td>
              <span class="p-column-title">Observaciones</span>
              {{die.observations}}
            </td>
            <td>
              <span class="p-column-title">Prod</span>
              {{die.code}}
            </td>
            <td>
              <span class="p-column-title">Referencia</span>
              {{die.description}}
            </td>
            <td>
              <span class="p-column-title">Largo</span>
              {{die.length}}
            </td>
            <td>
              <span class="p-column-title">Ancho</span>
              {{die.width}}
            </td>
            <td>
              <span class="p-column-title">Cant1</span>
              {{die.quantity}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No se pudo encontrar resultados.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
