<div class="p-grid table-demo">
  <div class="p-col-12">
    <div class="card">
      <p-table #dt [value]="dies" [columns]="columns" [rows]="pageSize" [paginator]="true"
        [globalFilterFields]="globalFilterFields" [rowHover]="true" dataKey="id" [showCurrentPageReport]="true"
        [currentPageReportTemplate]="tableReportTemplate" styleClass="p-datatable-sm" lazy="true"
        [rowsPerPageOptions]="rowsPerPageOptions" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <h5 class="h-100 mb-0 align-self-center">Gestión de Troqueles</h5>
            <span class="flex-auto"></span>
            <button pButton pRipple label="Nuevo" class="mr-2" icon="pi pi-plus" *ngIf="isAllow(1)"
              (click)="addNewDie(dt)"></button>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar..." class="w-full" />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-die>
          <tr class="p-selectable-row">
            <td style="min-width: 15rem">
              {{ die.name }}
            </td>
            <td style="min-width: 8rem">
              {{ die.createdDate | date: "dd-MM-yyyy" }}
            </td>
            <td style="min-width: 10rem">
              {{ die.manufacturer }}
            </td>
            <td style="min-width: 10rem">
              <span *ngFor="let machine of die.machines">
                {{ machine }}
              </span>
            </td>
            <td style="min-width: 8rem">
              {{ die.code }}
            </td>
            <td style="min-width: 15rem">
              {{ die.description }}
            </td>
            <td style="min-width: 8rem">
              {{ die.length }}
            </td>
            <td style="min-width: 8rem">
              {{ die.width }}
            </td>
            <td style="min-width: 8rem">
              {{ die.quantity }}
            </td>
            <td style="min-width: 10rem">
              {{ die.quantityLength }}
            </td>
            <td style="min-width: 10rem">
              {{ die.separationLength }}
            </td>
            <td style="min-width: 10rem">
              {{ die.quantityWidth }}
            </td>
            <td style="min-width: 10rem">
              {{ die.separationWidth }}
            </td>
            <td style="min-width: 10rem">
              {{ die.borderLength }}
            </td>
            <td style="min-width: 11rem">
              {{ die.borderWidth }}
            </td>
            <td style="min-width: 12rem">
              {{ die.leafLength }}
            </td>
            <td style="min-width: 12rem">
              {{ die.leafWidth }}
            </td>
            <td style="min-width: 8rem">
              {{ die.area }}
            </td>
            <td style="min-width: 8rem">
              {{ die.gsmdis }}
            </td>
            <!-- <td style="min-width: 11rem">
              {{ die.dsbMultiple }}
            </td>
            <td style="min-width: 12rem">
              {{ die.observations }}
            </td> -->
            <td style="min-width: 10rem">
              <span class="die-badge" appStatusHighlight [status]="die.status">{{
                die.status.name
                }}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="19">
              <span class="pt-4 pb-4 font-bold">No se pudo encontrar resultados.</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Total de registros: {{ table?.totalRecords }}
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>