<div class="p-grid table-demo">
  <div class="p-col-12">
    <div class="card">
      <h5>Gestión de troqueles</h5>
      <p>Lista de todos los troqueles</p>
      <p-table
        #dt
        [value]="dies"
        dataKey="id"
        styleClass="p-datatable-gridlines"
        [rowHover]="true"
        [rows]="pageSize"
        [paginator]="true"
        lazy="true"
        [(selection)]="selectedDies"
        [rowsPerPageOptions]="rowsPerPageOptions"
        [globalFilterFields]="globalFilterFields"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <span class="flex-auto"></span>
            <button
              pButton
              pRipple
              label="Nuevo"
              class="mb-2 mr-2"
              icon="pi pi-plus"
              (click)="addNewDie(dt)"
            ></button>
            <button
              pButton
              pRipple
              label="Eliminar"
              class="p-button-danger mb-2 mr-2"
              icon="pi pi-trash"
              (click)="deleteSelectedDies()"
              *ngIf="selectedDies.length > 0"
            ></button>
            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar..."
                class="w-full"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th
              *ngFor="let header of headers">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ header.label }}
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-die>
          <tr class="p-selectable-row">
            <td>
              <p-tableCheckbox [value]="die"></p-tableCheckbox>
            </td>
            <td style="min-width: 12rem">
              {{ die.name }}
            </td>
            <td style="min-width: 8rem">
              {{ die.createdDate | date: "dd-MM-yyyy" }}
            </td>
            <td style="min-width: 10rem">
              {{ die.manufacturer }}
            </td>
            <td style="min-width: 10rem">
              <span *ngFor="let machine of die.machines">
                {{ machine }}
              </span>
            </td>
            <td style="min-width: 8rem">
              {{ die.code }}
            </td>
            <td style="min-width: 12rem">
              {{ die.description }}
            </td>
            <td style="min-width: 8rem">
              {{ die.length }}
            </td>
            <td style="min-width: 8rem">
              {{ die.width }}
            </td>
            <td style="min-width: 8rem">
              {{ die.quantity }}
            </td>
            <td style="min-width: 10rem">
              {{ die.quantityLength }}
            </td>
            <td style="min-width: 10rem">
              {{ die.separationLength }}
            </td>
            <td style="min-width: 10rem">
              {{ die.quantityWidth }}
            </td>
            <td style="min-width: 10rem">
              {{ die.separationWidth }}
            </td>
            <td style="min-width: 12rem">
              {{ die.leafLength }}
            </td>
            <td style="min-width: 12rem">
              {{ die.leafWidth }}
            </td>
            <td style="min-width: 8rem">
              {{ die.area }}
            </td>
            <td style="min-width: 8rem">
              {{ die.gsmdis }}
            </td>
            <td style="min-width: 11rem">
              {{ die.dsbMultiple }}
            </td>
            <td style="min-width: 12rem">
              {{ die.observations }}
            </td>
            <td style="min-width: 10rem">
              <span class="die-badge"
                    appStatusHighlight
                    [status]="die.status">{{
                die.status.name
              }}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="19">
              <span class="pt-4 pb-4 font-bold"
                >No se pudo encontrar resultados.</span
              >
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Total de registros: {{ table?.totalRecords }}
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
