.die-badge {
  border-radius: var(--border-radius);
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-VI {
    background: #C8E6C9;
    color: #256029;
  }

  &.status-OB {
    background: #FFCDD2;
    color: #C63737;
  }

  &.status-PE {
    background: #B3E5FC;
    color: #23547B;
  }

  &.status-IN {
    background: #FFD8B2;
    color: #805B36;
  }
}
