<div class="p-grid">
  <div class="p-col-12">
    <p-toast></p-toast>

    <form (ngSubmit)="save()" [formGroup]="form" autocomplete="off">
      <div class="card">
        <h5 class="m-0 mb-5">Orden de mezcla N° {{ numberMixture }}</h5>

        <div *ngIf="order && project" class="grid">
          <p class="col-6 md:col-2 ">
            Lote: {{order.lot}}
          </p>
          <p class="col-6 md:col-2 ">
            Export (XP): {{project.projectType.id == 1 ? 'SI' : 'NO'}}
          </p>
          <p class="col-6 md:col-2">
            Cirel: {{project.cyrel ? project.cyrel.print : 'N/A'}}
          </p>
          <p class="col-6 md:col-2">
            Prod Troquelado: {{project.dieProduct.code}}
          </p>
          <p class="col-6 md:col-2">
            <p-dropdown
              [ngClass]="{'ng-invalid ng-dirty':die.touched &&die.invalid}"
              [options]="dies"
              [style]="{ width: '100%' }"
              emptyMessage="No se encontraron resultados"
              formControlName="die"
              optionLabel="name"
              optionValue="id"
              placeholder="Seleccione un troquel"
            ></p-dropdown>
            <small
              *ngIf="die.touched &&die.hasError('required')"
              class="p-error block"
            >{{ formErrors.required }}</small>
          </p>
          <p class="col-6 md:col-2">
              Total Real: {{totalReal | number: "":"es"}}
          </p>
        </div>
        <div *ngIf="die.value" class="grid">
          <p class="col-6 md:col-2">
            Largo: {{searchDie(die.value).leafLength}} cm
          </p>
          <p class="col-6 md:col-2">
            Ancho: {{searchDie(die.value).leafWidth}} cm
          </p>
          <p class="col-6 md:col-2">
            Mezcla de: {{mixtureTo}}
          </p>
          <p class="col-6 md:col-2">
            Gramaje: {{project.gsm}}
          </p>
          <p class="col-6 md:col-2">
            Diferencia: {{getDifference(die.value)  | number: "":"es" }}
          </p>
          <p class="col-6 md:col-2">
            Total:
            <p-tag
              severity="primary"
              value="{{ totalToCreate | number: '':'es' }} Kg"
            ></p-tag>
          </p>
        </div>
        <div *ngIf="die.value" class="grid">
          <p class="col-6 md:col-2">
            Ancho nominal: {{weightNominal}}
          </p>
          <p class="col-6 md:col-2">
            Ancho extrusión: {{weightExtrusion}}
          </p>
          <p class="col-6 md:col-2">
            Láminas por corte: {{getSheetPerCut(die.value) }}
          </p>
          <p class="col-6 md:col-2">
            Numero cortes: {{getNumberCut(die.value)  | number: "":"es" }}
          </p>
          <p class="col-6 md:col-2">
            Láminas: {{ sheets | number: "":"es"}} u.
          </p>
          <p class="col-6 md:col-2">
            <button
              (click)="showFilters = true"
              class="flex-grow-1"
              icon="pi pi-book"
              label="Obtener mezclas"
              pButton
              pRipple
            ></button>
          </p>
        </div>

        <div
          class="flex flex-column md:flex-wrap md:flex-row md:justify-content-between md:align-items-center"
        >
          <div class="field col-12 md:col-4 flex flex-column">
            <label for="prepare">Cantidad de Paradas</label>
            <div class="p-inputgroup">
              <input
                (input)="calculateRows()"
                [ngClass]="{
                'ng-invalid ng-dirty':
                  prepare.touched && prepare.invalid
              }"
                aria-describedby="prepare-help"
                formControlName="prepare"
                id="prepare"
                min="0"
                pInputText
                type="number"
              />
              <span class="p-inputgroup-addon">Kg</span>
            </div>
            <small
              *ngIf="prepare.touched && prepare.hasError('required')"
              class="p-error block"
            >{{ formErrors.required }}</small>
          </div>
          <div class="field col-12 md:col-4 flex flex-column">
            <label for="preMixture">Kg Premezcla</label>
            <div class="p-inputgroup">
              <input
                (input)="calculateRows()"
                [ngClass]="{
                'ng-invalid ng-dirty':
                  preMixture.touched && preMixture.invalid
              }"
                aria-describedby="preMixture-help"
                formControlName="preMixture"
                id="preMixture"
                min="0"
                pInputText
                type="number"
              />
              <span class="p-inputgroup-addon">Kg c/u</span>
            </div>
            <small
              *ngIf="preMixture.touched && preMixture.hasError('required')"
              class="p-error block"
            >{{ formErrors.required }}</small>
          </div>
          <button
            (click)="addRow()"
            class="flex-grow-1 mt-3"
            icon="pi pi-plus"
            label="Añadir Item"
            pButton
            pRipple
          ></button>
        </div>

        <p-table
          #dt
          [columns]="columns"
          [value]="rowsFormArray.controls"
          class="pb-5"
          dataKey="value.index"
          editMode="row"
        >
          <ng-template let-columns pTemplate="header">
            <tr>
              <th
                *ngFor="let col of columns"
              >
                {{ col.header }}
              </th>
              <th>
                <i
                  class="pi pi-cog"
                  pTooltip="Opciones"
                  style="font-size: 18px"
                ></i>
              </th>
            </tr>
          </ng-template>
          <ng-template
            formArrayName="rows"
            let-editing="editing"
            let-form
            let-index="rowIndex"
            pTemplate="body"
          >
            <tr [formGroupName]="index" [pEditableRow]="form">
              <td>
                <p-cellEditor class="w-full">
                  <ng-template pTemplate="input">
                    <p-dropdown (onChange)="onTypeSelected($event)"
                                [filter]="true"
                                [ngClass]="{'ng-invalid ng-dirty':getRowsType(index).touched &&getRowsType(index).invalid}"
                                [options]="types"
                                [showClear]="true"
                                [style]="{ width: '100%' }"
                                emptyMessage="No se encontraron resultados"
                                filterBy="name"
                                formControlName="type"
                                optionLabel="name"
                                optionValue="id"
                                placeholder="Seleccione un tipo"
                    ></p-dropdown>
                    <small
                      *ngIf="getRowsType(index).touched &&getRowsType(index).hasError('required')"
                      class="p-error block"
                    >{{ formErrors.required }}</small
                    >
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{searchRowsType(getRowsType(index).value)}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor class="w-full">
                  <ng-template pTemplate="input">
                    <p-dropdown
                      [filter]="true"
                      [ngClass]="{'ng-invalid ng-dirty':getRowsMaterial(index).touched &&getRowsMaterial(index).invalid}"
                      [options]="materials"
                      [showClear]="true"
                      [style]="{ width: '100%' }"
                      emptyMessage="No se encontraron resultados"
                      filterBy="name"
                      formControlName="material"
                      optionLabel="name"
                      optionValue="id"
                      placeholder="Seleccione Material"
                    ></p-dropdown>
                    <small
                      *ngIf="getRowsMaterial(index).touched &&getRowsMaterial(index).hasError('required')"
                      class="p-error block"
                    >{{ formErrors.required }}</small
                    >
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{searchRowsMaterial(getRowsMaterial(index).value)}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor class="w-full">
                  <ng-template pTemplate="input">
                    <input
                      (input)="calculateRows()"
                      aria-describedby="percent-help"
                      formControlName="percent"
                      id="percent"
                      min="0"
                      pInputText
                      type="number"
                    />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ getRowsPercent(index).value }} %
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                {{getRowsStop(index).value  | number: "":"es"}}
              </td>
              <td>
                {{getRowsTotal(index).value  | number: "":"es"}}
              </td>
              <td>
                <button
                  *ngIf="!editing"
                  class="p-button-rounded p-button-text"
                  icon="pi pi-pencil"
                  pButton
                  pInitEditableRow
                  pRipple
                  type="button"
                ></button>
                <button
                  (click)="deleteRow(index)"
                  *ngIf="!editing"
                  class="p-button-rounded p-button-text p-button-danger"
                  icon="pi pi-trash"
                  pButton
                  pRipple
                  type="button"
                ></button>
                <button
                  (click)="onRowEditSave()"
                  *ngIf="editing"
                  class="p-button-rounded p-button-text p-button-success mr-2"
                  icon="pi pi-check"
                  pButton
                  pRipple
                  pSaveEditableRow
                  type="button"
                ></button>
                <button
                  (click)="onRowEditCancel()"
                  *ngIf="editing"
                  class="p-button-rounded p-button-text p-button-danger"
                  icon="pi pi-times"
                  pButton
                  pCancelEditableRow
                  pRipple
                  type="button"
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="2"><strong>Total</strong></td>
              <td><strong> {{totalPercent  | number: "":"es" }} %</strong></td>
              <td><strong>{{totalToStop  | number: "":"es" }} Kg</strong></td>
              <td><strong>{{totalToCreate  | number: "":"es" }} Kg</strong></td>
            </tr>
          </ng-template>
        </p-table>

        <pre>
          {{rowsFormArray.controls}}
        </pre>

        <div class="field flex flex-column mt-3">
          <label for="observation">Observacion</label>
          <textarea
            [ngClass]="{
              'ng-invalid ng-dirty':
                observation.touched && observation.invalid
            }"
            aria-describedby="observation-help"
            formControlName="observation"
            id="observation"
            pInputTextarea
            type="text"
          ></textarea>
          <small
            *ngIf="observation.touched && observation.hasError('required')"
            class="p-error block"
          >{{ formErrors.required }}</small
          >
        </div>

        <div class="flex flex-column md:flex-row md:justify-content-center md:align-items-center">
          <button
            [disabled]="form.invalid"
            class="buttons-manage mb-2 mt-2 md:mr-2 md:mb-0 md:mt-3"
            icon="pi pi-plus"
            label="Guardar"
            pButton
            pRipple
            type="submit"
          ></button>
          <!--<button
            class="buttons-manage mb-2 mt-2 md:mr-2 md:mb-0 md:mt-3"
            icon="pi pi-table"
            label="Regresar"
            pButton
            pRipple
            routerLink="/home/mezcla"
          ></button>-->
        </div>
      </div>
    </form>
  </div>
</div>

<p-sidebar [(visible)]="showFilters" [baseZIndex]="10000" position="right">
  <h3 style="font-weight: normal">Mezclas Anteriores</h3>
  <h5>Última mezcla: 1</h5>
  <div class="p-fluid formgrid">
    <div class="field">
      <label for="client">Cliente</label>
      <input id="client" maxlength="32" pInputText type="text"/>
    </div>
    <div class="field">
      <label for="die">Troquel</label>
      <input id="die" maxlength="32" pInputText type="text"/>
    </div>
    <div class="field">
      <label for="cirel">Cirel</label>
      <input id="cirel" maxlength="32" pInputText type="text"/>
    </div>
    <div class="field">
      <label for="mix">Mezcla de</label>
      <input id="mix" maxlength="32" pInputText type="text"/>
    </div>
    <div class="field">
      <label for="number">Numero</label>
      <input id="number" maxlength="32" pInputText type="text"/>
    </div>
  </div>
  <div class="flex justify-content-evenly mt-5">
    <button
      class="p-button-raised"
      icon="pi pi-copy"
      label="Traer"
      pButton
      pRipple
    ></button>
    <button
      class="p-button-raised"
      icon="pi pi-filter-slash"
      label="Limpiar"
      pButton
      pRipple
    ></button>
  </div>
</p-sidebar>
