<div class="p-grid">
  <div class="p-col-12">
    <p-toast></p-toast>

    <div class="card">
      <p-table #dt [value]="thickness" [columns]="cols" [rows]="7" [paginator]="true"
        [globalFilterFields]="['id', 'weight','thickness']" [(selection)]="selectedThicknes" [rowHover]="true"
        dataKey="id" styleClass="p-datatable-customers p-datatable-sm">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestión de Grosor</h5>

            <div class="flex flex-column md:flex-row md:justify-content-center md:align-items-center">
              <button pButton pRipple label="Nuevo" icon="pi pi-plus"
                class="buttons-manage mb-2 mt-2 md:mr-2 md:mb-0 md:mt-0" (click)="openNew()"
                *ngIf="isAllow(1)"></button>
              <button pButton pRipple label="Eliminar" icon="pi pi-trash"
                class="buttons-manage p-button-danger mb-2 md:mr-2 md:mb-0" (click)="deleteSelectedThicknesss()"
                [disabled]="!selectedThicknes || !selectedThicknes.length" *ngIf="isAllow(4)"></button>
              <button pButton pRipple label="Export" icon="pi pi-upload"
                class="buttons-manage p-button-help mb-2 md:mr-2 md:mb-0" (click)="dt.exportCSV()"
                *ngIf="isAllow(5)"></button>

              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Buscar..." />
              </span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="weight">
              Peso <p-sortIcon field="weight"></p-sortIcon>
            </th>
            <th pSortableColumn="thickness">
              Grosor <p-sortIcon field="thickness"></p-sortIcon>
            </th>
            <th style="
                text-align: center;
                display: flex;
                justify-content: space-around;
              ">
              <i class="pi pi-cog" style="font-size: 18px" pTooltip="Opciones"></i>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-thicknes>
          <tr>
            <td>
              <p-tableCheckbox [value]="thicknes"></p-tableCheckbox>
            </td>
            <td>
              <span class="p-column-title">Peso</span>
              {{ thicknes.weight }}
            </td>
            <td>
              <span class="p-column-title">Grosor</span>
              {{ thicknes.thickness }}
            </td>
            <td style="display: flex; justify-content: space-evenly">
              <button pButton pRipple icon="pi pi-pencil"
                class="p-button-rounded p-button-outlined p-button-success p-mr-2" (click)="editThickness(thicknes)"
                *ngIf="isAllow(2)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-warning"
                (click)="deleteThickness(thicknes)" *ngIf="isAllow(4)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Total de items grosor:
            {{ thickness ? thickness.length : 0 }}
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="thicknesDialog" [style]="{ width: '450px' }" header="Detalles de Colores A" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="weight">Peso</label>
          <input type="number" pInputText id="weight" [(ngModel)]="thicknes.weight" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !thicknes.weight">Campo peso es requerido.</small>
        </div>
        <div class="p-field">
          <label for="thickness">Grosor</label>
          <input type="number" pInputText id="thickness" [(ngModel)]="thicknes.thickness" required />
          <small class="p-invalid" *ngIf="submitted && !thicknes.thickness">Campo grosor es requerido.</small>
        </div>
        <div class="p-field">
          <label for="usd">USD</label>
          <input type="number" pInputText id="usd" [(ngModel)]="thicknes.usd" required />
          <small class="p-invalid" *ngIf="submitted && !thicknes.usd">Campo usd es requerido.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
          (click)="saveThickness()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </div>
</div>