.dark-footer {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
  background-color: #434b54;
  padding: 10px 32px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
