<div class="p-grid">
  <div class="p-col-12">
    <p-toast></p-toast>

    <div class="card">
      <p-table #dt [value]="orders" [columns]="cols" [rows]="7" [paginator]="true"
        [globalFilterFields]="['lote','client.name','code','name','amount','deliverAt','observation','difference','priority','status']"
        [(selection)]="selectedOrder" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers p-datatable-sm"
        responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestión de Pedidos</h5>

            <div class="flex">
              <button pButton pRipple label="Limpiar" icon="pi pi-filter-slash" class="p-button-outlined mr-2"
                (click)="clear(dt)"></button>
              <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="mr-2" (click)="openNew()"></button>
              <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger mr-2"
                (click)="deleteSelectedOrders()" [disabled]="!selectedOrder || !selectedOrder.length"></button>
              <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help mr-2"
                (click)="dt.exportCSV()"></button>

              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText #filter type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Buscar..." />
              </span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
              Lote <p-columnFilter type="text" field="lote" display="menu" placeholder="Buscar por nombre">
              </p-columnFilter>
            </th>
            <th>
              Cliente <p-columnFilter type="text" field="client.name" display="menu" placeholder="Buscar por cliente">
              </p-columnFilter>
            </th>
            <!-- <th>
              Código
            </th>
            <th>
              Nombre
            </th> -->
            <th>
              Cantidad
            </th>
            <th>
              Fecha Entrega <p-columnFilter type="date" field="deliverAt" display="menu" placeholder="dd-mm-aaaa">
              </p-columnFilter>
            </th>
            <th>
              Prioridad
              <p-columnFilter type="status" field="priority.name" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="priorities" (onChange)="filter($event.value.name)"
                    placeholder="{{ value ?  value : 'Selecciona prioridad' }}" [style]="{'min-width': '12rem'}">
                    <ng-template let-option pTemplate="item">
                      <div class="flex align-items-center">
                        <button pButton pRipple type="button" icon="pi {{option.icon}}"
                          class="p-button-rounded p-button-text" [ngClass]="option.color ? option.color:''"></button>
                        {{option.name}}
                      </div>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              Observación
            </th>
            <th>
              Diferencia
            </th>
            <th>
              Estado
              <p-columnFilter type="status" field="status.name" display="menu">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value.name)"
                    placeholder="{{ value ?  value : 'Selecciona Estado' }}" [style]="{'min-width': '12rem'}">
                    <ng-template let-option pTemplate="item">
                      <span class="order-badge" [style.color]="option.color"
                        [style.backgroundColor]="option.backgroundColor">{{option.name}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th style="
                min-height: 34.5px;
                text-align: center;
                display: flex;
                justify-content: space-around;
              ">
              <i class="pi pi-cog" style="font-size: 18px" pTooltip="Opciones"></i>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>
              <p-tableCheckbox [value]="order"></p-tableCheckbox>
            </td>
            <td style="min-width: 8rem">
              <span class="p-column-title">Lote</span>
              {{ order.lote }}
            </td>
            <td style="min-width: 10rem">
              <span class="p-column-title">Cliente</span>
              {{ order.client.name }}
            </td>
            <!-- <td style="min-width: 10rem">
              <span class="p-column-title">Codigo</span>

            </td>
            <td style="min-width: 12rem">
              <span class="p-column-title">Nombre</span>

            </td> -->
            <td>
              <span class="p-column-title">Cantidad</span>
              {{ order.amount }}
            </td>
            <td style="min-width: 11rem">
              <span class="p-column-title">Fecha Entrega</span>
              {{ order.deliverAt | date: "dd-MM-yyyy" }}
            </td>
            <td style="min-width: 8rem; text-align: center;">
              <span class="p-column-title">Prioridad</span>
              <button pButton pRipple type="button" icon="pi {{order.priority.icon}}"
                class="p-button-rounded p-button-text" [ngClass]="order.priority.color ? order.priority.color:''"
                pTooltip="{{order.priority.name}}"></button>
            </td>
            <td style="min-width: 12rem">
              <span class="p-column-title">Observación</span>
              {{ order.observation }}
            </td>
            <td>
              <span class="p-column-title">Diferencia</span>
              {{ order.difference }}
            </td>
            <td style="min-width: 8rem">
              <span class="p-column-title">Estado</span>
              <span class="order-badge" [style.color]="order.status.color"
                [style.backgroundColor]="order.status.backgroundColor">{{order.status.name}}</span>
            </td>
            <td style="display: flex; justify-content: space-evenly; min-width: 10rem">
              <button pButton pRipple icon="pi pi-search-plus" class="p-button-rounded p-button-outlined p-mr-2"
                routerLink="/home/pedidos/status/{{order.lote}}"></button>
              <button pButton pRipple icon="pi pi-pencil"
                class="p-button-rounded p-button-outlined p-button-success p-mr-2" (click)="editOrder(order)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-warning"
                (click)="deleteOrder(order)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Total de Pedidos:
            {{ orders ? orders.length : 0 }}
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="orderDialog" [style]="{ width: '450px' }" header="Detalles de Orderes A" [modal]="true"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-field">
          <label for="id">ID</label>
          <input type="text" pInputText id="id" [(ngModel)]="order.id" required autofocus />
          <small class="p-invalid" *ngIf="submitted && !order.id">Campo id es requerido.</small>
        </div>
        <div class="p-field">
          <label for="name">Nombre</label>
          <input type="text" pInputText id="name" [(ngModel)]="order.name" required />
          <small class="p-invalid" *ngIf="submitted && !order.name">Campo nombre es requerido.</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveOrder()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
  </div>
</div>