<div class="p-grid">
  <div class="p-col-12">
    <p-toast></p-toast>

    <div class="card">
      <p-table #dt
               [value]="orders"
               [rows]="searchRequest.size"
               [columns]="columns"
               [paginator]="true"
               [rowHover]="true"
               dataKey="id"
               [showCurrentPageReport]="true"
               [currentPageReportTemplate]="tableReportTemplate"
               [rowsPerPageOptions]="rowsPerPageOptions"
               styleClass="p-datatable-sm"
               lazy="true"
               responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <h5 class="h-100 align-self-center mb-2 md:mb-0">Gestión de Pedidos</h5>
            <span class="flex-auto"></span>
            <button pButton
                    pRipple
                    label="Limpiar"
                    icon="pi pi-filter-slash"
                    class="p-button-outlined mb-2 md:mr-2 md:mb-0"
                    (click)="clear(dt)"
            ></button>
            <button pButton
                    pRipple
                    label="Nuevo"
                    icon="pi pi-plus"
                    class="mb-2 md:mr-2 md:mb-0"
                    (click)="createNewOrder()"></button>
            <button pButton
                    pRipple
                    label="Eliminar"
                    icon="pi pi-trash"
                    class="p-button-danger mb-2 md:mr-2 md:mb-0"
                    (click)="deleteSelectedOrders()"
                    [disabled]="!selectedOrders || !selectedOrders.length"></button>
            <button pButton
                    pRipple
                    label="Export"
                    icon="pi pi-upload"
                    class="p-button-help mb-2 md:mr-2 md:mb-0"
                    (click)="dt.exportCSV()"></button>

            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText
                     type="text"
                     [formControl]="searchFomControl"
                     placeholder="Buscar..."
                     class="w-full"/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="min-width: 8rem">
              Código
              <p-columnFilter type="text"
                              field="code"
                              [showOperator]="false"
                              display="menu"
                              placeholder="Buscar por código">
              </p-columnFilter>
            </th>
            <th style="min-width: 8rem">
              Lote
              <p-columnFilter type="text"
                              field="lot"
                              [showOperator]="false"
                              display="menu"
                              placeholder="Buscar por lote">
              </p-columnFilter>
            </th>
            <th style="min-width: 10rem">
              Cliente
              <p-columnFilter type="text"
                              field="client.name"
                              [showOperator]="false"
                              display="menu"
                              placeholder="Buscar por cliente">
              </p-columnFilter>
            </th>
            <th style="min-width: 12rem">
              Código producto
              <p-columnFilter type="text"
                              field="productCode"
                              [showOperator]="false"
                              display="menu"
                              placeholder="Buscar por código">
              </p-columnFilter>
            </th>
            <th style="min-width: 12rem">
              Nombre
              <p-columnFilter type="text" field="name" display="menu" placeholder="Buscar por código">
              </p-columnFilter>
            </th>
            <th>
              Cantidad
            </th>
            <th style="min-width: 11rem">
              Fecha Entrega
              <p-columnFilter type="date"
                              field="estimatedDeliveryAt"
                              [showOperator]="false"
                              display="menu"
                              placeholder="dd-mm-aaaa">
              </p-columnFilter>
            </th>
            <th>
              Prioridad
              <p-columnFilter type="status"
                              [showMatchModes]="false"
                              [showOperator]="false"
                              [showAddButton]="false"
                              field="priority.name"
                              display="menu">
                <ng-template pTemplate="filter"
                             let-value
                             let-filter="filterCallback">
                  <p-dropdown [ngModel]="value"
                              [options]="priorities"
                              (onChange)="filter($event.value.name)"
                              placeholder="{{ value ?  value : 'Seleccione prioridad' }}"
                              [style]="{'min-width': '12rem'}">
                    <ng-template let-option pTemplate="item">
                      <div class="flex align-items-center">
                        <i [ngStyle]="{'color': option.color ? option.color:''}"  class="pi {{option.icon}} pr-2"></i>
                        {{option.name}}
                      </div>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th style="min-width: 8rem">
              Estado
              <p-columnFilter field="status"
                              matchMode="in"
                              display="menu"
                              [showMatchModes]="false"
                              [showOperator]="false"
                              [showAddButton]="false">
                <ng-template pTemplate="filter"
                             let-value
                             let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value"
                                 [options]="orderStatus"
                                 placeholder="Seleccione uno o más estados"
                                 display="chip"
                                 optionValue="id"
                                 (onChange)="filter($event.value)"
                                 optionLabel="name">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="p-ml-1">{{option.name}}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </th>
            <th style="min-width: 8rem">
              Orden
            </th>
            <th style="min-width: 12rem">
              Observaciones
            </th>
            <th>
              Cantidad pendiente
            </th>
            <th>
              Despachos
            </th>
            <th>
              Última modificación
            </th>
            <th>
              <i class="pi pi-cog" style="font-size: 18px" pTooltip="Opciones"></i>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>
              <p-tableCheckbox [value]="order"></p-tableCheckbox>
            </td>
            <td style="min-width: 8rem">
              {{ order.code }}
            </td>
            <td style="min-width: 8rem">
              {{ order.lot }}
            </td>
            <td style="min-width: 10rem">
              {{ order.client.name }}
            </td>
            <td style="min-width: 12rem">
              {{ order.productCode }}
            </td>
            <td style="min-width: 12rem">
              {{ order.name }}
            </td>
            <td>
              {{ order.quantity }}
            </td>
            <td style="min-width: 11rem">
              {{ order.estimatedDeliveryAt | date: "dd-MM-yyyy" }}
            </td>
            <td style="min-width: 8rem;">
              <i [ngStyle]="{'color': order.priority.color ? order.priority.color:''}"
                 class="pi {{order.priority.icon}} pr-2"></i>
              {{order.priority.name}}
            </td>
            <td style="min-width: 8rem">
              <span class="order-badge"
                    appStatusHighlight
                    [status]="order.status">
                {{order.status.name}}
              </span>
            </td>
            <td style="min-width: 8rem">
              {{ order.clientOrderCode }}
            </td>
            <td style="min-width: 12rem">
              {{ order.observation }}
            </td>
            <td style="min-width: 12rem">
              {{ order.pendingQuantity }}
            </td>
            <td style="min-width: 8rem">
              {{ order.shippedQuantity }}
            </td>
            <td style="min-width: 11rem">
              {{ order.lastModifiedAt | date: "dd-MM-yyyy HH:mm" }}
            </td>
            <td>
              <div class="flex justify-content-center">
                <button type="button"
                        pButton
                        icon="pi pi-ellipsis-v"
                        class="p-button-secondary p-button-outlined"
                        (click)="selectedOrder = order; menu.toggle($event)">
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            Total de Pedidos:
            {{ table ? table.totalRecords : 0 }}
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-confirmDialog [style]="{ width: '450px' }"
                     rejectButtonStyleClass="p-button-text"
                     acceptButtonStyleClass="p-button-raised"></p-confirmDialog>
  </div>
</div>
<p-menu #menu [popup]="true" [model]="menuItems" appendTo="body"></p-menu>
