<form (ngSubmit)="save()" [formGroup]="form" autocomplete="off">
  <div class="p-grid">
    <div class="p-col-12">
      <p-toast></p-toast>

      <div class="card">
        <h5 class="m-0 mb-5">Consultas de stock en bodega</h5>
        <div
          class="flex flex-column md:flex-wrap md:flex-row md:justify-content-between md:align-items-center mb-5"
        >
          <div class="field md:col-3 col">
            <label for="option">Tipo</label>
            <p-dropdown
              [options]="types"
              id="type"
              [ngClass]="{
                'ng-invalid ng-dirty': type.touched && type.invalid
              }"
              formControlName="type"
              placeholder="Selecciona tipo"
              optionLabel="name"
              optionValue="id"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              (onChange)="onTypeSelected($event)"
              [style]="{ width: '100%' }"
            >
              <ng-template pTemplate="selectedItem" let-type>
                {{ type.name }}
              </ng-template>
              <ng-template let-option pTemplate="item">
                {{ option.name }}
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="type.touched && type.hasError('required')"
              id="reason-help"
              class="p-error block"
              >{{ formErrors.required }}</small
            >
          </div>
          <div class="field md:col-3 col">
            <label for="material">Material</label>
            <p-dropdown
              [options]="materials"
              id="material"
              [ngClass]="{
                'ng-invalid ng-dirty': material.touched && material.invalid
              }"
              formControlName="material"
              placeholder="Selecciona tipo"
              optionLabel="name"
              optionValue="id"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              (onChange)="onMaterialSelected($event)"
              [style]="{ width: '100%' }"
            >
              <ng-template pTemplate="selectedItem" let-material>
                {{ material.name }}
              </ng-template>
              <ng-template let-option pTemplate="item">
                {{ option.name }}
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="material.touched && material.hasError('required')"
              id="reason-help"
              class="p-error block"
              >{{ formErrors.required }}</small
            >
          </div>
          <div class="field md:col-3 col">
            <label for="lote">Lote</label>
            <p-dropdown
              [options]="lotes"
              id="lote"
              [ngClass]="{
                'ng-invalid ng-dirty': lote.touched && lote.invalid
              }"
              formControlName="lote"
              placeholder="Selecciona tipo"
              optionLabel="lote"
              optionValue="lote"
              [filter]="true"
              filterBy="lote"
              [showClear]="true"
              (onChange)="onLoteSelected($event)"
              [style]="{ width: '100%' }"
            >
              <ng-template pTemplate="selectedItem" let-lote>
                {{ lote.lote }}
              </ng-template>
              <ng-template let-option pTemplate="item">
                {{ option.lote }}
              </ng-template>
            </p-dropdown>
            <small
              *ngIf="material.touched && material.hasError('required')"
              id="reason-help"
              class="p-error block"
              >{{ formErrors.required }}</small
            >
          </div>
          <div class="field md:col-3 col">
            <button
              pButton
              pRipple
              label="Consultar Stock"
              icon="pi pi-plus"
              type="submit"
              class="w-full mt-0 md:mt-4"
            ></button>
          </div>
        </div>

        <div class="grid p-fluid" *ngIf="isReq && stock">
          <div class="col-12 lg:col-4">
            <h6>Resumen Stock por ubicación</h6>
            <div>
              <div
                class="stock-location"
                *ngFor="let loc of stock.locationStock"
              >
                <div class="stock-location-info">
                  {{ loc.location.description }}: {{ loc.stock }} Kg
                </div>
                <p-progressBar
                  [value]="loc.stock"
                  [style]="{ height: '4px', borderRadius: '2px' }"
                ></p-progressBar>
              </div>
              <div class="stock-location">
                <strong>Total {{ stockTotal }} Kg</strong>
              </div>
            </div>
          </div>
          <div class="col-12 lg:col-8">
            <div class="flex flex-column align-items-center">
              <p-chart
                type="pie"
                [data]="pieData"
                [options]="pieOptions"
                [style]="{ width: '40%' }"
                *ngIf="stockTotal > 0"
              ></p-chart>
              <h6 class="text-center w-full" *ngIf="stock.stock > 0">
                Disponible <strong> {{ stock.stock }} Kg </strong> de:
                {{ getMatereialName(material.value) }} en lote:
                {{ lote.value }}
              </h6>
              <h6 *ngIf="stockTotal <= 0">Stock negativo</h6>
            </div>
          </div>
        </div>

        <div class="grid p-fluid" *ngIf="isReq && typeMaterialStock">
          <div class="col-12 lg:col-4">
            <h6>Resumen Stock por material</h6>
            <div>
              <div
                class="stock-location"
                *ngFor="let type of typeMaterialStock"
              >
                <div class="stock-location-info">
                  {{ type.name }}: {{ type.stock }} Kg
                </div>
              </div>
              <div class="stock-location">
                <strong>Total {{ stockTotal }} Kg</strong>
              </div>
            </div>
          </div>
          <div class="col-12 lg:col-8">
            <p-chart
              type="bar"
              [data]="basicData"
              [options]="basicOptions"
              [style]="{ width: '80%' }"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
